- i18n_scope = 'homepage'

= render 'homepage/header_section'
= render 'homepage/film_section'
= render 'homepage/work_section'
= render 'homepage/projects_section'
= render 'homepage/development_section'
= render 'homepage/contact_form'
= render 'homepage/clients_opinion_section'

.touch-disable
  = javascript_pack_tag 'parallax', 'data-turbolinks-track': 'reload' 
  = javascript_pack_tag 'framer-motion', 'data-turbolinks-track': 'reload'
