<style>
    .chilli__background:nth-child(2) {
        top: 0px !important;
    }
    .chilli__background:nth-child(3) {
        top: 0px !important;
    }
</style>

<div class="chilli__background">
    <div class="chilli chilli--first rellax" data-rellax-speed="5"></div>
    <div class="chilli chilli--second rellax"></div>
    <div class="chilli chilli--third rellax"></div>
    <div class="chilli chilli--fourth rellax"></div>
    <div class="chilli chilli--fifth rellax"></div>
</div>

<section class="under-construction hero container mt-0">
    <div class="hero__box has-text-centered pb-5 mb-5">
        <h1 class="is-size-1 mb-5 is-size-4-touch has-text-weight-semibold has-text-centered">Zbudujemy Twój sukces online.<h1>
        <a href="tel:+48693896717" class="button is-hidden-desktop mb-5 is-primary under-construction__contact">
            <strong class="is-white is-lowercase has-text-weight-light">zadzwoń</strong>
        </a>
        <h2 class="is-size-3 is-size-4-touch has-text-centered">Przepraszamy, strona w przebudowie</h2>
    </div>
    <h3 class="is-size-3 is-size-4-touch is-green-100 has-text-centered has-text-weight-semibold mb-6">Zapraszamy do bezpłatnej konsultacji <br/> w sprawie projektu strony lub sklepu internetowego:</h3>
    <div class="columns">
        <div class="column is-flex is-justify-content-center">
            <figure class="image">
                <%= image_tag 'daiji.png', class: 'person is-rounded' %>
            </figure>
        </div>
        <div class="column">
            <h4 class="mb-1">Daiji Kimura</h4>
            <p class="mb-4">CEO & Product Owner</p>
            <p>Telefon: <a href="tel:+48693896717"><b>+48 693 896 717</b></a></p>
            <p>E-mail: <a href="mailto:daiji.kimura@jalappeno.pl"><b>daiji.kimura@jalappeno.pl</b></a></p>
            <div class="has-text-centered-touch">
                <%= image_tag 'signature.png', class:"mt-3" %>
            </div>
        </div>
    </div>
</section>
