.button-outline {
  background-color: transparent !important;
  border-color: $primary !important;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;

  &:hover {
    background-color: $primary !important;
    color: $jalappeno-white !important;
  }
}

.button.is-primary {
  color: $jalappeno-white !important;
  border-radius: 15px;
}

.button.is-primary:hover {
  color: $jalappeno-gray !important;
  background-color: transparent !important;
  border: 1px solid $primary;
}