.button-outline {
  background-color: transparent !important;
  border-color: $primary !important;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;

  &:hover {
    background-color: $primary !important;
    color: $jalappeno-white !important;
  }
}

.button.is-primary {
  color: $jalappeno-white !important;
  border-radius: 15px;
}

.button.is-primary:hover {
  color: $jalappeno-gray !important;
  background-color: transparent !important;
  border: 1px solid $primary;
}

.button:hover{
  transition: 500ms;
  text-decoration: none;
  cursor: asset-url('cursor-hover.svg') 20 0, auto;
}

.button.is-primary-white {
  background-color: #fff !important;
  border-radius: 15px;
}

.button-shadowed {
  &:hover {
    box-shadow: 6px 6px 5px #0003;
  }

  &:active {
    box-shadow: 4px 4px 4px #0003;
  }
}

.button-fill-hover {
  &, & .has-text-weight-light {
    transition: 0ms;
  }

  &:hover {
    background-color: #28DD8B;
    transition: 500ms;

    & .has-text-weight-light {
      color: #fff !important;
    }

    &, &.has-text-weight-light {
      transition: 500ms;
    }
  }
}

.button-disabled {
  background-color: #aaa !important;
  color: #fafafa;
  border-radius: 15px;
  cursor: not-allowed;

  &:hover {
    color: #fafafa;
    background-color: #aaa !important;
    cursor: not-allowed;
  }
}
