footer {
  cursor: auto !important;

  .button {
    border: none;
  }

  @include mobile {
    background-color: rgba(75, 239, 157, 0.05);
    .column {
      h1 {
        font-weight: 600;
      }
    }
  }

}

.footer__link {
  margin-bottom: 0.8rem;

  a {
    color: #4a4a4a;
    text-decoration: none;

    &:hover {
      color: $primary !important;
      cursor: pointer !important;      
    }
  }
}