.navbar-item img {
  max-width: initial;
  max-height: initial;
}

@include desktop {
  .navbar-end {
    justify-content: space-between;
    margin-left: auto;
    width: 75%;

    &-scrolled {
      width: initial;
    }
  }
}

nav, .navbar {
  background: transparent;
  background-color: transparent;
  transition: all 500ms;
}

.white__nav {
  background: white;
  background-color: white;
  transition: all 500ms;
}