@import "./colors";

@import "bulma/bulma";
@import "navbar";
// @import "modals";

@import "./font";
@import "./typography";
@import "./utils";
@import "./basics";
@import "./buttons";
@import "./flexbox";
@import "./cursor";
@import "./footer";

@import "under_construction";
@import "landing";
@import "projects";

body {
  background: $primarybackground;
  font-family: $text-display;
  overflow-x: none;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: #28DD8B;
}

::selection {
  color: white;
  background: #28DD8B;
}

.chilli__background {
  position: absolute;

  .chilli {
    overflow-x: hidden !important;
    position: absolute;
    width: 100vw;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    &--first {
      background: asset-url('chilli-1') no-repeat center center;
      z-index: 1;
    }

    &--second {
      background: asset-url('chilli-2') no-repeat center center;
      z-index: 2;
    }
    &--third {
      background: asset-url('chilli-3') no-repeat center center;
      z-index: 3;
    }
    &--fourth {
      background: asset-url('chilli-4') no-repeat center center;
      z-index: 4;
    }
    &--fifth {
      background: asset-url('chilli-5') no-repeat center center;
      z-index: 5;
    }
  }
}

.work {
  z-index: 6;
  @extend .is-centered-middle;

  .work__section {
    &__inside {
      min-height: 70vh;
    }
  }
}

.hero {
  @extend .is-fullheight;
  @extend .is-centered-middle;
  margin-top: -3.25rem !important;
  z-index: 6;
  overflow: hidden !important;

  .hero__box { 
    @extend .is-fullheight;
  }

  .hero__button {
    @extend .is-fullwidth;
    @extend .is-centered-middle;
  }
}

.step__text {
  .step__number {
    color: map-get($jalappeno, 'green-150');
    font-weight: bold;
  }
  .step__title {
    line-height: 37px;
    color: map-get($jalappeno, 'green-100');
    font-weight: 600;
  }
  .step__content {
    color: #292929;
  }
}

@include touch {
  .no-mob-br {
    display: none !important;
  }

  .touch-disable {
    display: none !important;
  }
}

@include desktop {
  .tile.is-child.mr-15-desktop {
    margin-right: 1.5rem !important;
  }
}

@include mobile {
  .tile.is-child.mb-15-mobile {
    margin-bottom: 1.5rem !important;
  }
}

.projects__section {
  img {
    mix-blend-mode: luminosity;
    filter: contrast(90%);
  }
}

.singular {
  transition: 500ms;

  &:hover {
    transition: 500ms;
    transform: scale(1.1);
    border: 1px solid map-get($jalappeno, 'green-140') !important;
    cursor: asset-url('cursor-hover.svg'), auto;
  }
}

.button:hover{
  transition: 500ms;
  text-decoration: none;
  cursor: asset-url('cursor-hover.svg'), auto;
  background-color: initial;
}


a:hover{
  transition: 500ms;
  text-decoration: none;
  cursor: asset-url('cursor-hover.svg'), auto;
  background-color: initial;
}

#contact,
#development,
#clients_opinion,
#projects {
  h1 {
    @extend .is-green-80;
  }
}

#how-we-work {
  h2 {
    @extend .is-green-80;
  }
}

.contact {
  .input,
  .textarea {
    border: 0;
    border-bottom: 1px solid #767676;
    border-radius: 0;
    background: $jalappeno-white;
    box-shadow: none;
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #767676 !important;
      opacity: 1 !important; /* Firefox */
    }
    
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #767676 !important;
    }
    
    &::-ms-input-placeholder { /* Microsoft Edge */
      color: #767676 !important;
    }
  }
  
  .person {
    border: 15px solid $primary;
  }
}

.has-bg-green-100 {
  transition: all 1s ease;
}

.has-text-on-bg-green-100 {
  color: white;
}

.text-styles-on-bg-change {
  color: white !important;
  font-weight: bold;
}

.image_container {
  visibility:visible;
  opacity:1;
  transition: visibility 500ms linear,opacity 500ms linear;
}

.image_container_invisble {
  visibility: hidden;
  opacity:0;
  transition: visibility 500ms linear,opacity 500ms linear;
}

.w-50 {
  width: 50%;
}