.container--landing {
    @include touch {
        padding: 0 30px;
        margin-top: 0 !important;
    }

    h1 {
        line-height: 35px;
    }
}

.landing {
    &__navbar__logo {
        a {
            padding: 10px !important;
        }
        img {
            width: Min(75%, 300px);

            @include mobile {
                width: 25%;
            }
            @media screen and (max-width: 350px) {
                width: 15%;
            }
        }
    }

    &__reach-us {
        border: 1px solid #28DD8B;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__project__founder {
        margin: 0 auto;
        border: 10px solid #E0E0E0;
    }
    &__footer {
        background-color: #28DD8B;
        &__container {
            padding-top: 0.5rem;
            @include tablet {
                padding-top: 3rem;
            }
        }
    }

    &__team__person {
        border: 10px solid #28DD8B;
    }
}
