@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes fade-in-out {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

@keyframes hide {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
