meta charset="utf-8"
meta name="description" content="#{t 'metatags.author'}"
meta name="author" content="#{t 'metatags.author'}"
meta name="keywords" lang="#{ I18n.locale }" content="#{t 'metatags.keywords' }"
meta name="title" content="#{t 'metatags.title'}"
meta property="og:description" content="#{t 'metatags.author'}"
meta property="og:title" content="#{t 'metatags.title'}"
meta property="og:type" content="website"
meta property="og:url" content="#{request.original_url}"
meta name="robots" content="all"
meta name="revisit-after" content="3days"
meta name="viewport" content="width=device-width,initial-scale=1"
meta property="og:image" itemprop="image" content=("#{image_url 'favicons/og-256.png' }")
