meta charset="utf-8"
meta name="viewport" content="width=device-width,initial-scale=1"
meta name="description" content="Jalappeno"
meta name="author" content="Jalappeno"
meta name="keywords" lang="en-GB" content="Let's talk about your new business ideas"
meta name="keywords" lang="en-US" content="Let's talk about your new business ideas"
meta name="revisit-after" content="3days"
meta name="robots" content="all"
meta name="title" content="Jalappeno"
meta property="og:description" content="Jalappeno"
meta property="og:title" content="Jalappeno"
meta property="og:type" content="website"
meta property="og:url" content="#{request.original_url}"
meta property="og:image" itemprop="image" content=("#{image_url 'favicons/og-256.png' }")
